---
import '../styles/reset.css'
import '../styles/index.css'
import '../styles/App.css'
import Hero from '../components/home/hero.astro'
import BaseLayout from '../layouts/base.astro'
import Summary from '../components/home/summary.astro'
---

<BaseLayout>
	<Hero/>
	<Summary/>
	<div style={{position: 'relative', backgroundImage: "url('/home/plants-with-sparks.jpg')", height: '80vh',backgroundSize:'cover', backgroundRepeat:'no-repeat', backgroundPosition: '40% 10%'}}>
		<div style={{position: 'absolute', bottom: 0, right: 0, width:'100%',maxWidth:'18rem', backgroundColor: 'var(--primary)', padding: '2rem', gap:'1rem'}} >
			<h4>
				Combat Robotics
			</h4>
			<p>
				Combat robotics is all about sparks, fire and spilling robot guts. The excitement around the sport is perfect for spreading awareness of robotics. Our combat division also promises something for everyone, with entry level programs and lots of upward mobility.
			</p>
		</div>
	</div>
</BaseLayout>

