---
import '../styles/reset.css'
import '../styles/index.css'
import '../styles/App.css'
import Navbar from '../components/navbar.astro'
import Hero from '../components/hero.astro'
---

<main>
	<Navbar/>
	<Hero/>
</main>

