---
import '../styles/reset.css'
import '../styles/index.css'
import '../styles/App.css'
import BaseLayout from '../layouts/base.astro'
import Join from '../components/join.astro'
import { clubEmail, linksPageLinks } from '../data'
---

<BaseLayout title="Links">
  <div
    class="main-container"
    style="padding-top: 120px; display: flex; background: linear-gradient(#230508 70%, var(--text-dark));"
  >
    <div
      class="links-container"
      style="margin: auto; max-width: 30em; width: 100%; display: flex; flex-direction: column; gap: 2em; padding: 4em 2em;"
    >
      <a class="no-decoration" href={`mailto:${clubEmail}`}>
        <div
          style="width: 100%; padding: 20px; border-radius: 25px; border-style: solid; border-color: #380D0D; background-color: #250F0F; color: white;"
        >
          <h2 class="font-unbounded">Email &rarr;</h2>
          <p>For general inquiries, reach out to our leadership team via email.</p>
          <p style="text-decoration: underline;">
            {clubEmail}
          </p>
        </div>
      </a>
      {
        linksPageLinks.map((link) => (
          <a class="no-decoration" target="_blank" href={link.href}>
            <div style="width: 100%; padding: 20px; border-radius: 25px; border-style: solid; color: white; border-color: white; font-family: 'Unbounded Variable', sans-serif; display: flex; justify-content: space-between;">
              <h2>{link.name}</h2>
              <h2>&rarr;</h2>
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <Join theme="dark" />
</BaseLayout>
