---
import { getImage } from 'astro:assets'

const VexGroup = await getImage({
  src: import('../../assets/home/vexgroup.png'),
  formats: ['webp'],
  quality: 'mid',
  width: 950,
})
---
<div style={{ position: 'relative', width: '100vw', height: '100dvh', top: 0 }}>
  <video autoplay loop muted id="heroVideo" poster={VexGroup.src}>
    <!-- TODO: redo video, add src sets for fmts like AV1 OR switch to embedding yt/vimeo video? -->
    <source src="/home/hero.mp4" type="video/mp4" />
  </video>
  <div
    class="heroContent"
    style={{
      width: '100%',
      height: '100%',
      display: 'flex',
      gap: '2rem',
      padding: '4rem',
    }}
  >
  <h1>
    <!-- TODO: i don't like this, should discuss or figure smth else out -->
    We are Comet Robotics,<br /> the leading robotics club at UT Dallas.
  </h1>
  <a style={{ fontWeight: 500 }} id="to-summary" href="#to-summary">
    scroll to learn more
    <span style={{ marginLeft: '1rem' }}> &darr;</span>
  </a>
      <a
      class="no-decoration scale-hover"
      href="https://clash.cometrobotics.org"
      target="_blank"
      rel="noreferrer"
      style={{
        backgroundColor: 'var(--primary)',
        color: 'white',
        padding: '1.5rem',
        borderRadius: '1.33rem',
        fontSize: '0.8rem',
        boxShadow: '0px 8px 8px 0px rgba(0, 0, 0, 0.25)',
        maxWidth: '40rem',
      }}
    >
      <h3 class="font-unbounded">Comet Clash</h3>
      <p style="padding: 0.25rem 0;">
        Watch 48 combat robots fight to the death in our inaugural Comet Clash competition, hosted in the ECSW building at UT Dallas on November 23rd!
      </p>
      <h3 class="font-mashine">Learn More &rarr;</h3>
    </a>
  </div>
</div>
