---
import { Image } from 'astro:assets'
import IMG_4798 from '../../assets/home/IMG_4798.jpg'
---

<div
  style="width: 100%; padding: 4rem 3rem; background-color: var(--primary);"
  class="font-unbounded"
>
  <style>
    img {
      width: 50%;
      height: 50%;
      border-radius: 1rem;
    }

    @media (max-width: 480px) {
      img {
        width: 100%;
        height: 100%;
      }
    }
  </style>
  <div
    class="mobile-column"
    style="display: flex; align-items: center; justify-content: space-between; gap: 3rem; max-width: 75rem; margin: auto"
  >
    <div style="display: flex; font-size: 1.25rem; flex-direction: column;">
      <p>
        We are a group of students who are passionate about all things robots -
        from the mechanical aspects, to writing software, and all the things in
        between.
      </p>
      <br />
      <p>
        Every Monday<a style="color: inherit;" href="#meeting-footnote"
          ><sup>*</sup></a
        > at 7pm, we meet to learn and build all sorts of robots - for fun, and to
        compete in a variety of events.
      </p>
      <br />
    </div>
    <Image
      alt="The University Rover Challenge team engages in a discussion whilst working on laptops and tablets at the Makerspace."
      width={600}
      quality={'high'}
      src={IMG_4798}
    />
  </div>
</div>
