<div
  style="display: flex; width: 100%; align-items: center; justify-content: space-between; padding: 4rem 3rem; gap: 3rem; background-color: var(--primary);" class="font-unbounded mobile-column"
>
<style>
img {
  width: 50%;
  border-radius: 1rem;
}

@media (max-width: 480px) {
  img {
    width: 100%;
  }
}
</style>
  <div style="display: flex; font-size: 1.25rem; flex-direction: column;" >
    <p>
      We are a group of robot enthusiasts with the goal of promoting robotics at UT Dallas and in the surrounding area through outreach, projects and
      workshops.
    </p>
    <br />
    <p>
      Comet Robotics focuses on supporting this goal with 2 divisions: combat
      robotics and competitive robotics.
    </p>
  </div>
  <img
    src="/home/IMG_4798.jpg"
  />
</div>
