---
import { socialLinks, clubEmail, footerLinks } from "../data";
---

<footer style="display: flex; flex-direction: column; gap: 1rem; align-items: center; padding: 3rem 5rem; width: 100%; background-color: var(--text-dark);">
<img src="/logo-light.png">

<div style="display: flex; gap: 1rem;">
    {socialLinks.map((link) => 
        <a href={ link.href }>
            <img src={ link.icon } alt={link.name + ' logo'}/>
        </a>
    )}
</div>
<div style="display: flex; gap: 1rem;">
    {footerLinks.map((link) => 
        <a href={ link.href }>
            {link.name}
        </a>
    )}
</div>

<a href={`mailto:${clubEmail}`}>{clubEmail}</a>
<p>Supported by</p>
<!-- TODO: sponsors here -->

</footer>