---
import { discordInvite, makerspaceMap } from '../data'

interface Props {
  theme: 'light' | 'dark'
}

const { theme } = Astro.props

let bgColor = '#D9D9D9'
let txtColor = 'black'


if (theme === 'dark') {
  bgColor = '#1e1e1e'
  txtColor = 'white'
}

const options: {title: string, description: string, url: string}[] = [
  {
    title: 'Join the Discord',
    description: 'Our Discord is the primary communication method for the club - join for updates on meeting times, projects, and more.',
    url: discordInvite,
  },
  {
    title: 'Find the Makerspace',
    description: 'Our meetings are hosted at the UTDesign Makerspace, located on the 2nd floor of the Synergy Park North building (SPN 2.220).',
    url: makerspaceMap,
  },
]
---
<style>
  @media (max-width: 480px) {
    .join-content {
      flex-direction: column;
    }
  }

  a {
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  a:hover {
    transform: scale(1.05);
  }
</style>

<div style={{ backgroundColor: bgColor, color: txtColor, padding: '4rem 3rem', gap: '2rem', display:'flex', flexDirection: 'column' }}>

    <h2 style="font-family: Mashine, sans-serif; color: var(--primary); font-size: 3rem; line-height: 1;">Join</h2>
    <p style={{
      fontSize: '1.25rem'
    }}>
      Interested in getting involved in a project team? Come to a meeting and talk to a project manager or officer about how you can join. Our general meetings are on <strong
        >Mondays at 7pm<sup>*</sup></strong
      > at the <strong>UTDesign Makerspace.</strong>
    </p>
    <div class="join-content" style={{ display: 'flex', gap: '2rem' }}>
      {options.map(({url, title, description}) => (
       <a
        class="no-decoration"
        href={url}
        target="_blank"
        rel="noreferrer"
        style={{
          backgroundColor: '#1e1e1e',
          color: 'white',
          padding: '1.5rem',
          borderStyle: 'solid',
          borderRadius: '1.33rem',
          borderColor: txtColor,
          boxShadow: '0px 4px 4px 0px rgba(0, 0, 0, 0.25)'
        }}
      >
        <h3 class="font-unbounded">{title} &rarr;</h3>
        <span>
          {description}
        </span>
      </a>))}
      
    </div>
    
    <small id="meeting-footnote" style="font-family: 'Open Sans Variable', sans-serif; font-size: 1rem;">* We only officially meet when UT Dallas is in session during the fall and spring semesters, but many of us frequently meet at the Makerspace during breaks as well - join the <a style="color: inherit" href={discordInvite} rel="noreferrer" target="_blank">Discord</a> for updates.</small>

</div>
