---
import { HOME_LINK, discordInvite, mainNavLinks } from '../data'
---

<div
  style={{
    position: 'fixed',
    width: '100%',
    top: '0',
    left: '0',
    display: 'flex',
    justifyContent: 'space-between',
    alignItems: 'center',
    zIndex: 100,
    color: 'var(--text)',
    padding: '2rem 4rem',
    background:
      'linear-gradient(180deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.00) 100%)',
  }}
>
  <a href={HOME_LINK.href}>
    <img
      src="/wordmark.png"
      style={{
        width: '150px',
      }}
    />
  </a>
  <nav
    style={{
      display: 'flex',
      gap: '2rem',
      alignItems: 'center',
    }}
  >
    {mainNavLinks.map((link) => <a href={link.href}>{link.name}</a>)}

    <a
      style={{
        backgroundColor: 'var(--primary)',
        padding: '0.5rem 1rem',
        color: 'white',
        borderRadius: '999px',
      }}
      href={discordInvite}
    >
      Join
    </a>
  </nav>
</div>
