---
import '../styles/reset.css'
import '../styles/index.css'
import '../styles/App.css'
import Navbar from '../components/navbar.astro'

import Footer from '../components/footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO: proper meta tags + dynamic titles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comet Robotics at UT Dallas</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <Navbar />
  <main>
    <slot />
    <Footer />
  </main>


</html>
